/* ==== STYLE RESET ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow-y: auto;
    background-color: beige;
}
img,
picture {
    width: 100%;
}

/* ===================== */

h1 {
    text-align: center;
    margin: 1rem;
}
main {
    padding: .5rem;
}

.grid-container {
    margin: auto;
    display: grid;
    max-width: 500px;
}

.pixel {
    /* border: 1px solid red; */
    background-color: #fff;
}